/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.header .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.header .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.header .header__list--item {
    list-style: none
}

.header .header__link {
    text-decoration: none;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #36536b;
    border: 1px solid rgba(0, 0, 0, 0);
    opacity: .7
}

.header .header__link:hover {
    border-bottom: 1px solid #36536b;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.header .header__link:active {
    color: #36536b;
    opacity: 1
}

.header .header__btn {
    padding: 16px 24.5px 14px 26.5px;
    background: #ba4270;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, .25);
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, .25);
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0)
}

.header .header__btn:hover {
    border: 1px solid #da6d97;
    background-color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #da6d97
}

.header .header__btn:active {
    color: #fbfcfe;
    background: #da6d97
}

.header .header__menu {
    display: none
}

@media only screen and (max-width: 650px) {
    .header .header__list {
        display: none
    }

    .header .header__btn {
        display: none
    }

    .header .header__menu {
        display: block
    }
}

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #edf3f8
}

.container {
    max-width: 1111px;
    margin: 40px auto 0;
    padding: 0 20px
}

.hero__section {
    position: relative;
    z-index: 5;
    width: 90%;
    margin-top: 74px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.hero__section .hero__box {
    width: 65%
}

.hero__section .hero__box--title {
    width: 546px;
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    color: #36536b
}

.hero__section .hero__img {
    border-radius: 39px
}

.hero__section .hero__box--email {
    width: 272px;
    padding: 14px 0 14px 27px;
    background: #fbfcfe;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, .25);
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, .25);
    border-radius: 24px;
    font-family: "Public Sans";
    outline: none;
    border: none
}

.hero__section .hero__btn {
    margin-left: -38px;
    padding: 16px 24.5px 14px 26.5px;
    background: #ba4270;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, .25);
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, .25);
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0)
}

.hero__section .hero__btn:hover {
    border: 1px solid #da6d97;
    background-color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #da6d97
}

.hero__section .hero__btn:active {
    color: #fbfcfe;
    background: #da6d97
}

.hero__section .hero__subtitle {
    margin-left: 20px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #6c8294
}

.hero__section .hero__subtitle span {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #6c8294
}

@media only screen and (max-width: 988px) {
    .hero__section {
        width: 100%
    }
}

@media only screen and (max-width: 846px) {
    .hero__section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        text-align: center
    }

    .hero__section .hero__img {
        width: 159px;
        height: auto;
        border-radius: 20px
    }

    .hero__section .hero__box {
        width: 100%
    }

    .hero__section .hero__box--title {
        max-width: 540px;
        font-size: 48px;
        line-height: 56px;
        margin: 47px auto 23px
    }
}

@media only screen and (max-width: 578px) {
    .hero__section .hero__form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .hero__section .hero__btn {
        width: 90%;
        margin-left: 0;
        padding: 16px 46px 14px 50px
    }

    .hero__section .hero__box--email {
        width: 85% !important
    }

    .hero__section .hero__box--title {
        width: 100% !important;
        font-size: 32px;
        line-height: 36px
    }
}

.about__section {
    max-width: 1440px;
    background: #1b262f;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0 auto;
    margin-top: 75px
}

.about__section .about__wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.about__section .about__wrapper {
    padding-right: 10px
}

.about__section .about__wrapper--title {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #fbfcfe
}

.about__section .about__wrapper--subtitle {
    max-width: 434px;
    padding-bottom: 32px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #fbfcfe;
    opacity: .7
}

.about__section .about__wrapper--link {
    margin-top: 32px;
    padding: 16px 32px 14px;
    border: 1px solid #fbfcfe;
    border-radius: 24px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #fbfcfe;
    text-decoration: none
}

.about__section .about__box {
    margin-top: 70px;
    max-width: 536px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media only screen and (max-width: 978px) {
    .about__section {
        text-align: center;
        padding-top: 0
    }

    .about__section .about__box {
        width: 100%;
        gap: 20px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start
    }

    .about__section .about__wrap {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }

    .about__section .about__wrapper--title {
        font-size: 48px;
        line-height: 56px
    }
}

.form__section {
    margin-top: 150px;
    max-width: 1015px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.form__section .form__box {
    width: 445px;
    background: #1b262f;
    -webkit-box-shadow: 25px 25px 80px rgba(54, 83, 107, .300727);
    box-shadow: 25px 25px 80px rgba(54, 83, 107, .300727);
    border-radius: 8px
}

.form__section .form__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 6.4px;
    padding: 12px 0 12px 16px;
    background: #2e3f4d;
    border-radius: 8px 8px 0px 0px
}

.form__section .form__items {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ba4270
}

.form__section .form__items:nth-child(2) {
    background: #527695
}

.form__section .form__items:nth-child(3) {
    background: #36536b
}

.form__section .form__item {
    list-style: none;
    margin-left: -13px;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #fbfcfe
}

.form__section .form__wrap {
    padding-left: 10px;
    width: 445px
}

.form__section .form__wrap--title {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #36536b
}

.form__section .form__wrap--subtitle {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6c8294
}

.form__section .form__list {
    padding-top: 15px;
    padding-bottom: 10px
}

.form__section .form__item:nth-child(3),
.form__section .form__item:nth-child(4),
.form__section .form__item:nth-child(5),
.form__section .form__item:nth-child(6),
.form__section .form__item:nth-child(7),
.form__section .form__item:nth-child(8) {
    margin-left: 10px
}

@media only screen and (max-width: 912px) {
    .form__section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .form__section .form__wrap {
        text-align: center;
        width: 70%
    }

    .form__section .form__wrap--title {
        font-size: 48px;
        line-height: 56px
    }
}

@media only screen and (max-width: 462px) {
    .form__section .form__list {
        padding-right: 5px
    }

    .form__section .form__box {
        width: 100%
    }
}

.simple__section {
    margin-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.simple__section .simple__box {
    max-width: 445px
}

.simple__section .simple__box--title {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #36536b
}

.simple__section .simple__box--subtitle {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6c8294
}

.simple__section .simple__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 40px
}

.simple__section .simple__pic {
    border-radius: 38px
}

@media only screen and (max-width: 970px) {
    .simple__section {
        margin-top: 100px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }

    .simple__section .simple__box {
        text-align: center;
        width: 80%
    }

    .simple__section .simple__wrap {
        gap: 25.5px
    }

    .simple__section .simple__pic {
        width: 159px;
        height: auto;
        border-radius: 20px
    }

    .simple__section .simple__box--title {
        font-size: 48px;
        line-height: 56px
    }
}

.finance__section {
    margin-top: 146px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.finance__section .finance__card {
    text-align: center;
    width: 350px
}

.finance__section .card__title {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #36536b
}

.finance__section .card__subtitle {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #6c8294
}

@media only screen and (max-width: 1075px) {
    .finance__section {
        margin-top: 100px;
        gap: 10px
    }

    .card__pic {
        width: 88px;
        height: auto
    }
}

@media only screen and (max-width: 690px) {
    .finance__section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 40px
    }

    .finance__section .card__pic {
        width: 106px;
        height: auto
    }

    .finance__section .finance__card {
        max-width: 80% !important
    }
}

.contact__section {
    margin-top: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.contact__section .contact__title {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #36536b
}

.contact__section .contact__box--email {
    width: 400px;
    padding: 14px 0 14px 27px;
    background: #fbfcfe;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, .25);
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, .25);
    border-radius: 24px;
    font-family: "Public Sans";
    outline: none;
    border: none
}

.contact__section .contact__btn {
    margin-left: -38px;
    padding: 16px 24.5px 14px 26.5px;
    background: #ba4270;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, .25);
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, .25);
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0)
}

.contact__section .contact__btn:hover {
    border: 1px solid #da6d97;
    background-color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #da6d97
}

.contact__section .contact__btn:active {
    color: #fbfcfe;
    background: #da6d97
}

@media only screen and (max-width: 810px) {
    .contact__section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .contact__title {
        font-size: 48px;
        line-height: 56px
    }
}

@media only screen and (max-width: 600px) {
    .contact__section {
        margin-bottom: 80px;
        margin-top: 80px
    }

    .contact__section .contact__from {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .contact__section .contact__box--email {
        width: 80%
    }

    .contact__section .contact__btn {
        margin: 0 auto;
        width: 85%
    }
}

.footer {
    margin: auto;
    margin-top: 66px;
    padding: 20px 0;
    max-width: 100%;
    background: #1b262f
}

.footer .site__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.footer .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.footer .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px
}

.footer .footer__list--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px
}

.footer .footer__item {
    list-style: none
}

.footer .footer__link {
    text-decoration: none;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #fbfcfe;
    mix-blend-mode: normal;
    opacity: .7;
    border: 1px solid rgba(0, 0, 0, 0)
}

.footer .footer__link:hover {
    border-bottom: 1px solid #fbfcfe;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.footer .footer__link:active {
    color: #fff;
    opacity: 1
}

.footer .footer__item--2 {
    list-style: none
}

.footer .link__icon:hover {
    fill: red
}

.footer svg path:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    fill: #da6d97
}

.footer svg path:active {
    fill: #fff
}

@media screen and (max-width: 616px) {
    .site__footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 40px
    }

    .footer__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 40px
    }

    .footer__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 31px
    }
}